:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #ff550b;
  --secondary: #303030;
  --success: #015668;
  --info: #0f81c7;
  --warning: #0de2ea;
  --danger: #ff304f;
  --light: #eae6e5;
  --dark: #12130f;
  --easynode: #2cea26;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  background-color: rgb(40, 40, 40);
  color: magenta;
}

body a:link {
  color: #2cea26;
}

body a:visited {
  color: #2cea26;
}

.center-aligned-div {
  background-color: rgb(60, 60, 60);
  padding: 15px;
  margin: 30px 0;
  border-radius: 10px;
  text-align: center;
}

.left-aligned-div {
  background-color: rgb(60, 60, 60);
  padding: 15px;
  margin: 30px 0;
  border-radius: 10px;
}

p {
  word-wrap: break-word;
  line-height: 1.25;
}

.btn {
  background-color: #2cea26;
  color: #000;
}
