[chain]
# Keep this as is
chainId = 2152
rpc = https://prod-mainnet.prod.findora.org:8545

[contract]
# Keep this as is
staking = 0x38d49e3bd5144059c9f3bA10CF7306E84155B603

[operator]
# Use any evm wallet with FRA to fund tx here
address = [ETH_ADDRESS]
privateKey = [ETH_PRIVATE_KEY]

[node]
# Update this with your validator server information to confirm node is in sync before unjailing
url = http://[VALIDATOR_IP]:26657/status
validator = [VALIDATOR_PUBLIC_KEY]

