{% extends "base.html" %} {% block content %}
<!-- 404 Page content -->
<div class="container">
    <div class="col-10 mx-auto d-block">
        <div class="center-aligned-div">
            <h1>404 Item Not Found Error</h1><br />
            <p>You may be here from a bad username or password, either way, page not found.<br />Check your link & try again!</p>
            <form action="/" method="get">
                <button type="submit" class="btn btn-light">⚡ Return Home ⚡</button>
            </form>
        </div>
    </div>
</div> {% endblock %}